:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  font-weight: 700;
  color: inherit;
  text-decoration: inherit;
  padding: 0.5rem;
}
a:hover {
  color: #ff4949;
  background-color: #ffffff;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  background-color: #66d3fa;
}

.msg-window {
  min-width: 30rem;
  max-width: 90rem;
  background-color: #69ace7;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Arial, sans-serif;
  border-left: 10px solid #000983;
}

.msg-window p {
  margin: 0;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
}

.msg-window.error {
  border-left: 10px solid #940303;
  background-color: #f64949;
}

.msg-window.success {
  width: 100%;
}
